<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
  <div class="field">
    <%= f.label :user_id, "ログインID*", for: "user_id_input" %><%= f.text_field :UserID, id: "user_id_input", autofocus: true, autocomplete: "UserID" %>


    <div class="field">
      <label>ユーザー名: <span id="user_name_display"></span> さんようこそ</label>
    </div>
  </div>
   
  <div class="field">
    <%= f.label :password, "パスワード*" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
 
<% end %>

    <button onclick="window.close()">閉じる</button>
  </div>

<%= link_to 'メニューへ', menu_path %>

<%= javascript_include_tag "sessions", type: "module" %>
