<%= stylesheet_link_tag 'login' %>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-container">
    <!-- ログインID -->
    <div class="field">
      <%= f.label :user_id, "ログインID*" %>
      <%= f.text_field :UserID, id: "user_id_input", autofocus: true, autocomplete: "UserID" %>
    </div>

    <!-- ユーザー名表示 -->
    <div class="field">
      <label>ユーザー名: <span id="user_name_display"></span> さんようこそ</label>
    </div>

    <!-- パスワード -->
    <div class="field">
      <%= f.label :password, "パスワード*" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <!-- ログインボタンと閉じるボタン -->
    <div class="button-container">
      <div class="actions">
        <%= f.submit "ログイン" %>
      </div>
      <div class="close-button">
        <button onclick="window.close()">閉じる</button>
      </div>
    </div>
  </div>

<% end %>

<%= javascript_include_tag "sessions", type: "module" %>
